*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60) no-repeat center center/ cover;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
@media screen and (max-width:850px) {
    body{
        background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60) no-repeat;
    }
    h2{
        border: 1px solid black;
        width: 80%;
        margin: 50px auto 0px auto;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        background-color: black;
        color: #fff;
        
    }
}

h2{
    border: 1px solid rgb(255, 255, 255);
    width: 400px;
    margin: 150px auto auto auto;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    
}

.main-content{
    border: 2px solid white;
    width: 95%;
    height: 260px;
    margin: 40px auto auto auto;
    border-radius: 10px;
    background-color: #fff;

}
.main-content .text-area{
    font-size: 1.2rem;
    padding: 10px;
    margin: 15px 0;
}

.main-content .person{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(144, 4, 4);
    /* margin: 0px; */

}

.main-content button{

    width: 100px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    padding: 5px;
}



